.m-my{
    width:100%;
    height: 100%;
    text-align: center;
    font-family: "微软雅黑";
    @include flexbox();
    @include flex-direction(column);
    background: #ffb400;
    header{
        height:.44rem;
        background:#ffb400;
        line-height: .44rem;
        font-size: .18rem;
        text-align: right;
        color: white;
        padding-right:20px;
    }
    .box{
        @include flex(1);
        width:100%;
        overflow: hidden;
    }
    .pic{
        margin-top:-1px;
        @include flexbox();
        @include align-items($align-items: center);
        @include justify-content(space-around);
        height:.88rem;
        background:#ffb400;
        position: relative;
       .picBox{
           width:.66rem;
           height:.66rem;
           border-radius: 50%;
           overflow: hidden;
           background: url(/shoes/images/my/girl.jpg) center center no-repeat;
           background-size: cover;
           position: absolute;
           left:.16rem;
           top:.08rem;
       }
       .loginOr{
            color:white;
            font-size: .22rem;
        }
    }
    nav{
        height: 1.32rem;
        background:#f7f7f7;
        @include flexbox();
        @include align-items(center);
        .nav{
            width: 100%;
            height: 1.2rem;
            background: white;
            @include border(1px 0 1px 0,#d1d1d1);

            .allOrder{
                height:.54rem;
                width:90%;
                text-align: left;
                line-height: .54rem;
                font-size: .18rem;
                margin:0 auto;
                @include border(0px 0 1px 0,#d1d1d1);
               .order{
                   float:right;
               }
            }
            .fourStep{
                @include flexbox();
                @include justify-content(space-around);
                @include align-items(center);
                height:.66rem;
                ul{
                    li:first-child{
                        font-size: 20px;
                    }
                    li:last-child{
                        font-size: 12px;
                    }
                }

            }
        }
    }
    section{

        width: 100%;
        background: white;
        ul{
            @include flexbox();
            @include flex-direction(column);
            text-align: left;
            li{
                width:90%;
                margin:0 auto;
                @include border(0px 0 1px 0,#d1d1d1);
                line-height: .48rem;
                font-size: .16rem;
                .right{
                    float:right;
                }
                .left{
                    color:#ffb400;
                    padding-right:10px;
                }
                b{
                    font-weight: normal;
                    font-size: 14px;
                    float: right;
                    color: #999;
                }
                span{
                    font-size: 16px;
                    color: red;
                }
            }
        }
    }
    footer{
        height:1rem;
        background: whitesmoke;
    }

}
