.shop-container{
  width: 100%;
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  header{
    width: 100%;
    height: .44rem;
    background: $base-color2;
  }
  header{
    line-height: .44rem;
    color: #fff;
    @include flexbox();
    span,i{
      display: block;
    }
    span{
      width: 80%;
      font-size: .22rem;
      text-align: center;
    }
    i{
      text-align: center;
      font-size: .18em;
      width: 20%;
    }
  }

  section{
    width: 100%!important;
    @include flex();
    @include flexbox();
    @include flex-direction(column);
    .shop-main{
        @include flex();
        width: 100%;
        h3,p,li{
          text-align: center;
        }
        h3{
            height: 2.5rem;
            font-size: 1rem;
            color: #dcdcdc;
            @include flexbox();
            @include  align-items(flex-end);
            @include justify-content(center);
            transform: translate(1%);
        }
        p{
          font-size: .16rem;
          color: #999;
        }
        li{
          height: .5rem!important;
          line-height: .7rem;
          i{
              padding: .1rem .2rem;
              border: 1px solid #333;
              border-radius: .06rem;
           }
          height: 25%;
          list-style: none;
        }
    }
  }

}
