@charset "utf-8";

.sort-con{
    height: 100%;
    width: 100%;
    @include flexbox();
    @include flex-direction(column);
    header,.paixu{
        width:100%;
    }
    header{
        height: .44rem;
        font-size: .18rem;
        background: #feb300;
        @include flexbox();
        @include justify-content(space-between);
        .back,span{
            line-height: .44rem;
            padding: 0 .12rem 0 .12rem;
            text-align: center;
            color: #fff;
        }
        .search{
            @include flex();
            @include flexbox();
            @include align-items(center);
            position: relative;
            input{
                height: .36rem;
                width: 100%;
                @include border-radius(.20rem);
                text-indent: .20rem;
            }
            i{
                position: absolute;
                right: .12rem;
                line-height: .44rem;
            }
        }
        
    }
    .paixu{
        height: .44rem;
        padding: .10rem 0;
        @include flexbox();
        @include justify-content(space-between);
        @include border(0 0 1px 0,#aaa);
        color: #666;
        background: #fff;
        font-family: "微软雅黑";
        li{
         @include flex(1);
         text-align: center;
         line-height: .24rem;
         font-size: .14rem;
        }
        li:nth-child(2){
            @include border(0 2px 0 2px,#aaa); 
         }
        .active{
            color: #feb300;
        }
    }
    .good_list{
        @include flex();
        width: 100%;
        overflow: hidden;
        font-family: "微软雅黑";
        ul{
            padding: 2px;
            @include flexbox();
            @include flex-wrap(wrap);
            @include justify-content(space-between);
            li{
                width: 49.5%;
                font-size: 14px;
                background: #fff;
                margin-bottom: 5px;
                img{
                    display: block;
                    height: 100%;
                    width: 100%;
                }
                p{
                    @include ellipsis(100%,1);
                    padding: 3px;
                }
                p:last-child{
                    color: #e00;
                }
            }
        }
    }
}
