$base-color1:#FFB400;
$base-color2:#FBB205;


//字体图标库
@font-face {
  font-family: yofont;
  src: url("/shoes/images/iconfont/iconfont-footer.woff") format("woff"),
  url("/shoes/images/iconfont/iconfont-footer.ttf") format("truetype");
}
@font-face {
  font-family: yofont;

  src: url("/shoes/images/iconfont/iconfont-detail.woff") format("woff"),
  url("/shoes/images/iconfont/iconfont-detail.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/shoes/images/iconfont/iconfont-message.woff") format("woff"),
  url("/shoes/images/iconfont/iconfont-message.ttf") format("truetype");
}

@font-face {
  font-family: yofont;
  src: url("/shoes/images/iconfont/iconfont-shopcar.woff") format("woff"),
  url("/shoes/images/iconfont/iconfont-shopcar.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/shoes/images/iconfont/iconfont-fanhui.woff") format("woff"),
  url("/shoes/images/iconfont/iconfont-fanhui.ttf") format("truetype");

  src: url("/shoes/images/iconfont/iconfont.woff") format("woff"),
  url("/shoes/images/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/shoes/images/iconfont/iconfont1.woff") format("woff"),
  url("/shoes/images/iconfont/iconfont1.ttf") format("truetype");
