$base-color1:#FFB400;
$base-color2:#FBB205;


//字体图标库
@font-face {
  font-family: yofont;
  src: url("/shizuxieku/images/iconfont/iconfont-footer.woff") format("woff"),
  url("/shizuxieku/images/iconfont/iconfont-footer.ttf") format("truetype");
}
